.link {
  color: #fff !important;
  padding-right: 30px !important;

  &.selected {
    color: #00c72e !important;
  }
}

.link-span {
  cursor: pointer;
}

.dropdown-menu {
  padding: 10px;
  background-color: #212529;
}
